* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body,
html {
  font-family: Roboto, sans-serif;
  background: #090821;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  min-height: 100vh;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  width: 10px;
}
body ::-webkit-scrollbar-track,
html ::-webkit-scrollbar-track {
  background: #0e0c31;
}
body ::-webkit-scrollbar-thumb,
html ::-webkit-scrollbar-thumb {
  background: #fe2889;
}
body ::-webkit-scrollbar-thumb:hover,
html ::-webkit-scrollbar-thumb:hover {
  background: #d80163;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: Roboto, sans-serif;
  cursor: pointer;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  text-transform: uppercase;
  background-color: #fe2889;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}
button:hover {
  transform: scale(1.02);
  background-color: #f2016e;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #090821;
  /* background by SVGBackgrounds.com */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23090821' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cuse fill='%230e0d25' href='%23s' y='2'/%3E%3Cuse fill='%230e0d25' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2313122a' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2313122a' href='%23s'/%3E%3Cuse fill='%2318172e' href='%23s' x='2'/%3E%3Cuse fill='%2318172e' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%231d1c33'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%231d1c33'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%23222137'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%23090821'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%2327263c'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%23fe2889'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%23fe2889'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(41.65) translate(-975.99 -731.99)'%3E%3Cg fill='%23fe2889'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.welcome-container h1 {
  color: #fff;
  font-weight: 400;
  font-size: 4em;
  animation: fadein 1s;
}
.welcome-container h1 span {
  color: #fe2889;
  font-weight: bold;
}
.welcome-container h2 {
  font-size: 2em;
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.3em;
  margin-top: 5px;
}
.welcome-container h2::after {
  content: "|";
  animation: blink 0.9s infinite;
}
.welcome-container a {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  animation: float 2s infinite;
}
.welcome-container a img {
  width: 60px;
  height: 60px;
}
@media (max-width: 425px) {
  .welcome-container {
    padding: 0 25px;
  }
  .welcome-container h1 {
    font-size: 2em;
  }
  .welcome-container h2 {
    font-size: 1em;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.about-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 30px;
  margin-top: 35px;
}
.about-container h1 {
  color: #fe2889;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.about-container .avatar-wrapper {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}
.about-container .avatar-wrapper .avatar {
  height: 250px;
  width: 250px;
  background-image: url("../images/avatar.png");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid #fe2889;
}
.about-container .avatar-wrapper .contacts {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 25px;
}
.about-container .avatar-wrapper .contacts img {
  transition: 0.3s;
  height: 45px;
  width: 45px;
}
.about-container .avatar-wrapper .contacts img:hover {
  transform: translateY(-8px);
  transform: scale(1.08);
}
.about-container .description-wrapper p {
  text-align: justify;
  font-weight: 300;
  font-size: 1rem;
  line-height: 181.19%;
  margin-bottom: 20px;
}
.about-container .description-wrapper .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
.about-container .description-wrapper .skills .skill {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.about-container .description-wrapper .skills .skill:hover {
  transform: translateY(-8px);
  transform: scale(1.08);
}
.about-container .description-wrapper .skills .skill img {
  height: 75px;
  width: 75px;
}
.about-container .description-wrapper .skills .skill span {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9rem;
}
.about-container .description-wrapper button {
  width: 100%;
  height: 50px;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    margin: 0;
  }
}

#list-of-works {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px;
}
#list-of-works .title {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}
#list-of-works .title-icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
#list-of-works .cards {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  color: #fff;
}
#list-of-works .work-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
}
#list-of-works .work-card div {
  background: #fff;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
#list-of-works .work-card div:hover {
  transform: translateY(-8px);
  transform: scale(1.08);
}
#list-of-works .work-card div img {
  height: 120px;
  width: 120px;
}
#list-of-works .work-card h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 14px;
}
#list-of-works .work-card p {
  margin-top: 14px;
  font-weight: 300;
  line-height: 25px;
}

.projects-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 30px;
}
.projects-container .title {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.projects-container .title-icon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}
.projects-container .projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 25px;
}
.projects-container .projects .project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.projects-container .projects .project h1 {
  color: #fe2889;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.projects-container .projects .project p {
  text-align: justify;
  font-weight: 300;
  font-size: 1rem;
  line-height: 181.19%;
  margin-top: 20px;
}
.projects-container .projects .project .links {
  display: flex;
  justify-content: flex-end;
}
.projects-container .projects .project a {
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #fe2889;
  transition: 0.5s;
}
.projects-container .projects .project a:first-of-type {
  margin-right: 30px;
}
.projects-container .projects .project a:hover {
  color: #d80163;
  animation: float 2s infinite;
}
.projects-container .projects .project .image-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.projects-container .projects .project .image-wrapper img {
  height: 100%;
  width: inherit;
  border-radius: 10px;
  margin-bottom: 20px;
}
.projects-container .projects .project .overlay-1 {
  transition: 0.3s;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/projects/ferro-aco-logo-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.projects-container .projects .project .overlay-2 {
  transition: 0.3s;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/projects/sinergia-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.projects-container .projects .project .overlay-3 {
  transition: 0.3s;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/projects/my-daily-status.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.projects-container .projects .project .activated-overlay {
  display: flex;
  animation: opacity linear 0.3s;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.projects-container .projects .tags {
  display: flex;
  flex-wrap: wrap;
}
.projects-container .projects .tags .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  margin: 12px 10px 5px 0;
  text-transform: uppercase;
  font-size: 0.9rem;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.projects-container .projects .tags .tag:hover {
  background: #fe2889;
}
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
}
@media (max-width: 768px) {
  .projects-container .projects {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}

footer {
  width: 100%;
  height: 100%;
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 140px;
  padding-bottom: 50px;
}
footer .content {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
footer .content .message-container {
  width: 40%;
  margin-right: 30px;
  padding: 30px;
}
footer .content .message-container h1 {
  color: #fe2889;
  font-size: 2.2rem;
  line-height: 3.5rem;
  margin-bottom: 30px;
}
footer .content .message-container p {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 186.69%;
}
footer .content .form {
  display: flex;
  flex: 1;
  padding: 30px;
}
footer .content .form form {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 30px;
  right: 0;
  background-color: #0e0c31;
  border-radius: 20px;
}
footer .content .form label {
  font-size: 0.8rem;
  margin-bottom: 5px;
}
footer .content .form input,
footer .content .form textarea,
footer .content .form select {
  color: #fff;
  background: #141414;
  border: 1px solid #5e5e5e;
  border-radius: 8px;
}
footer .content .form textarea {
  padding: 10px;
  resize: none;
}
footer .content .form input,
footer .content .form select {
  height: 45px;
  padding: 0 10px;
}
footer .content .form input,
footer .content .form textarea,
footer .content .form select {
  margin-bottom: 20px;
}
footer .content .form input:focus,
footer .content .form textarea:focus,
footer .content .form select:focus {
  border-color: #fe2889;
}
footer .content .form button {
  height: 40px;
}
footer .content .form button:disabled {
  background-color: #bf0157 !important;
}
footer .content .form #error-message {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  background-color: #c70039;
}
footer .content .form #success-message {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  background-color: #22559c;
}
@media (max-width: 400px) {
  footer .content .form {
    padding: 0;
  }
}
@media (max-width: 768px) {
  footer {
    background-position-y: 300px;
  }
  footer .content .message-container {
    width: 100%;
    margin: 0;
  }
}
