.about-container {
  @include boundaries;

  display: flex;
  justify-content: center;
  color: #fff;
  padding: 30px;

  h1 {
    color: $color-primary;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 35px 0 40px 0;
  }

  .avatar-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    .avatar {
      height: 250px;
      width: 250px;
      background-image: url("../images/avatar.png");
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: 5px solid $color-primary;
    }

    .contacts {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: 25px;

      img {
        @include hover-animation;

        height: 45px;
        width: 45px;
      }
    }
  }

  .description-wrapper {
    p {
      text-align: justify;
      font-weight: 300;
      font-size: 1rem;
      line-height: 181.19%;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

      .skill {
        @include hover-animation;

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;

        img {
          height: 75px;
          width: 75px;
        }

        span {
          text-align: center;
          margin-top: 10px;
          font-size: 0.9rem;
        }
      }
    }

    button {
      width: 100%;
      height: 50px;
      margin-top: 50px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0;
  }
}
