$banners: "../images/projects/ferro-aco-logo-white.png",
  "../images/projects/sinergia-logo.png",
  "../images/projects/my-daily-status.png";

.projects-container {
  @include boundaries;
  @include section-title;

  padding: 30px;

  .projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 25px;

    .project {
      color: #fff;

      h1 {
        color: $color-primary;
        font-size: 1.5rem;
        text-transform: uppercase;
      }

      p {
        text-align: justify;
        font-weight: 300;
        font-size: 1rem;
        line-height: 181.19%;
        margin-top: 20px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 40px;
        width: 100%;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: $color-primary;
        transition: 0.5s;

        &:hover {
          color: darken($color-primary, 15%);
          animation: float 2s infinite;
        }
      }

      .image-wrapper {
        position: relative;
        width: 100%;
        height: auto;

        img {
          height: 100%;
          width: inherit;
          border-radius: 10px 10px 0 0;
          margin-bottom: 20px;
        }
      }

      @each $banner in $banners {
        $i: index($banners, $banner);

        .overlay-#{$i} {
          @include banner-overlay($banner);
        }
      }

      .activated-overlay {
        display: flex;
        animation: opacity linear 0.3s;
      }

      @keyframes opacity {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 0 20px;
        margin: 12px 10px 5px 0;
        text-transform: uppercase;
        font-size: 0.9rem;
        border: 2px solid #fff;
        border-radius: 10px;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          background: $color-primary;
        }
      }
    }

    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-5px);
      }

      100% {
        transform: translateY(0px);
      }
    }
  }

  @media (max-width: 768px) {
    .projects {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }
}
