#list-of-works {
  @include section-title;
  @include boundaries;
  padding: 30px;

  .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    color: #fff;
  }

  .work-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;

    div {
      background: #fff;
      border-radius: 50%;
      height: 180px;
      width: 180px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 120px;
        width: 120px;
      }
    }

    h1 {
      font-size: 24px;
      // font-size: 1.87rem;
      font-weight: bold;
      margin-top: 14px;
    }

    p {
      margin-top: 14px;
      font-weight: 300;
      line-height: 25px;
    }
  }
}
